<h1>Welcome to the Hero Squad Application</h1>

<ul>
  <li><a href="/heros/new">Add a new Hero</a></li>
  <li><a href="/heros">View all current Heroes</a></li>
</ul>

<ul>
  <li><a href="/categories">View Category List</a></li>
  <li><a href="/categories/new">Add a New Category</a></li>
</ul>
