<h1>Welcome to the Hero Squad Application</h1>

<ul>
  <li><a href="/heros/new">Add a new Hero</a></li>
  <li><a href="/heros">View all current Heroes</a></li>
</ul>

<ul>
  <li><a href="/squads">View Squad List</a></li>
  <li><a href="/squads/new">Add a New Squad</a></li>
</ul>
