<h1>$squad.getName() heros</h1>

<ul>
  #foreach($hero in $squad.getHeros())
   <li>$hero.getName()</li>
  #end
</ul>

<ul>
	<li><a href="/squads/$squad.getId()/heroes/new">Add a Hero to this team</a></li>
	<li><a href="/squads">All Squads</a></li>
